@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import "tailwindcss"; */

:root {
  --primary: #383838;
  --grey: #6d6d6d;
  --basegrey: #e2e2e2;
  --offwhite: #f6f5f1;
  --greyBg: #f0eee7;
}

@font-face {
  font-family: "Belleza";
  src: url("/fonts/Belleza/Belleza-Regular.ttf") format("woff2"),
    url("/fonts/Belleza/static/Belleza-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bendungan";
  src: url("/fonts/Bendungan/Bendungan Signature.ttf") format("woff2"),
    url("/fonts/Bendungan/static/Bendungan Signature.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  overflow-x: clip;
  color: var(--primary);
  background-color: var(--offwhite);
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
dl,
ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

caption,
th {
  text-align: left;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--gray);
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.footer-bg-gradient {
  background: linear-gradient(183.23deg, #ffffff 6.87%, #f8f7e4 86.26%);
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

@keyframes floating {
  0% {
    transform: translate(-50%, -50%) translateY(0px);
  }

  50% {
    transform: translate(-50%, -50%) translateY(-20px);
  }

  100% {
    transform: translate(-50%, -50%) translateY(0px);
  }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.card {
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.group:hover .group-hover {
  transform: translateY(-40px);
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 1;
  }
}

.animate-fall {
  animation: fall 4s linear infinite;
}

.gradient-border-wrapper {
  padding: 1px;

  background: linear-gradient(
    24.33deg,
    rgba(74, 74, 74, 0) 18.25%,
    #4a4a4a 130.36%
  );
}

.circle-border-wrapper {
  padding: 1px;

  background: linear-gradient(
    226.45deg,
    #4a4a4a 15.27%,
    rgba(74, 74, 74, 0) 68.79%
  );
}

.btn-gradient-border {
  padding: 1px;

  background: linear-gradient(
    85.08deg,
    rgba(255, 255, 255, 0.1) -2.53%,
    #ffffff 113.57%
  );
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.animate-path {
  animation: dash 5s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
